header{color: #0BA5BE;
    font-size: 40px;
    background-color:#00718F;
padding: 20px;}


p{color:#576319;}

body{margin-top: 0;
    margin-left: 0;
    margin-right: 0; }
    h1{
        font-size: 60px;
        font-family: 30px;
        text-align: center;
    }

    img{width: 200px;
        height: 200px;
    ;
        
    }

    article{text-align: center;
    font-size: 20px;
    background-color: beige;
width: 300px;}

section{display: flex;
justify-content: space-around;}

    p{
        font-size: 40px;
        color: #013F4E;
    }


    .ter{
       height: 100px; 
    }

    nav{display: flex;
    justify-content: space-around;
    color: #2F70AF;
}
nav a{color: white;
text-decoration: none;}


.img:hover{color: #2F70AF;}


footer{
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 140px;
}
h2{color: white;
text-align: center;}


h1:hover{color: #2F70AF;}
